@{
    Layout = "~/DesktopModules/MVC/MinifiguraKivalaszto/Views/Shared/_Layout.cshtml";
}

<div id="figuraKeszitoModule_<%= ModuleId %>" class="figura-keszito-modul">
    <div class="figura-keszito-container">
        <div id="figuraKeszitoPanel_<%= ModuleId %>" class="panel-bal">
            <h3 class="panel-bal-fo-cim">Figura előnézete</h3>

            <div class="alkatresz-kategoria-szekcio" id="szekcioHajSapka_<%= ModuleId %>">
                <img id="figuraKeszitoHajSapka_<%= ModuleId %>" src="/Portals/0/Images/testreszek/hairs/hair1.png" alt="Haj/Sapka" class="figura-keszito-resz" />
            </div>

            <div class="alkatresz-kategoria-szekcio" id="szekcioFej_<%= ModuleId %>">
                <img id="figuraKeszitoFej_<%= ModuleId %>" src="/Portals/0/Images/testreszek/heads/head1.png" alt="Fej" class="figura-keszito-resz" />
            </div>

            <div class="alkatresz-kategoria-szekcio" id="szekcioFelsoTest_<%= ModuleId %>">
                <img id="figuraKeszitoFelsoTest_<%= ModuleId %>" src="/Portals/0/Images/testreszek/torsos/torso1.jpg" alt="Felső Test" class="figura-keszito-resz" />
            </div>

            <div class="alkatresz-kategoria-szekcio" id="szekcioLab_<%= ModuleId %>">
                <img id="figuraKeszitoLab_<%= ModuleId %>" src="/Portals/0/Images/testreszek/legs/legs1.png" alt="Láb" class="figura-keszito-resz" />
            </div>

        </div>

        <div class="panel-jobb">

            <div id="kategoriaValasztoGombok_<%= ModuleId %>" class="kategoria-gombok">
                <button type="button" class="kategoria-gomb" data-kategoria="HajSapka">Haj/Sapka</button>
                <button type="button" class="kategoria-gomb" data-kategoria="Fej">Fej</button>
                <button type="button" class="kategoria-gomb" data-kategoria="FelsoTest">Felső Test</button>
                <button type="button" class="kategoria-gomb" data-kategoria="Eszkoz">Eszköz</button>
                <button type="button" class="kategoria-gomb" data-kategoria="Lab">Láb</button>
            </div>

            <div class="figura-lapozo-container">
                <button type="button" class="lapozo-gomb" id="balGomb_<%= ModuleId %>">◀</button>

                <div id="figuraElonezet_<%= ModuleId %>" class="figura-elonezet">
                    <div id="elonezetDivLab_<%= ModuleId %>" class="figura-resz-div" style="display: none;">
                        <img id="elonezetLab_<%= ModuleId %>" src="/Portals/0/Images/testreszek/legs/legs1.png" alt="Láb" class="figura-resz" />
                    </div>
                    <div id="elonezetDivFelsoTest_<%= ModuleId %>" class="figura-resz-div" style="display: none;">
                        <img id="elonezetFelsoTest_<%= ModuleId %>" src="/Portals/0/Images/testreszek/torsos/torso1.jpg" alt="Felső Test" class="figura-resz" />
                    </div>
                    <div id="elonezetDivFej_<%= ModuleId %>" class="figura-resz-div" style="display: none;">
                        <img id="elonezetFej_<%= ModuleId %>" src="/Portals/0/Images/testreszek/heads/head1.png" alt="Fej" class="figura-resz" />
                    </div>
                    <div id="elonezetDivHajSapka_<%= ModuleId %>" class="figura-resz-div" style="display: none;">
                        <img id="elonezetHajSapka_<%= ModuleId %>" src="/Portals/0/Images/testreszek/hairs/hair1.png" alt="Haj/Sapka" class="figura-resz" />
                    </div>
                    <div id="elonezetDivEszkoz_<%= ModuleId %>" class="figura-resz-div" style="display: none;">
                        <img id="elonezetEszkoz_<%= ModuleId %>" src="/Portals/0/Images/testreszek/accessories/accessories1.png" alt="Eszköz" class="figura-resz" />
                    </div>
                </div>

                <button type="button" class="lapozo-gomb" id="jobbGomb_<%= ModuleId %>">▶</button>
            </div>


            <div class="ar-kijelzes">
                <span>Összeállított figura ára: </span>
                <strong id="figuraAr_<%= ModuleId %>">0 Ft</strong>
            </div>

            <div class="muvelet-gombok">
                <button type="button" id="addToPreviewBtn_<%= ModuleId %>" class="dnnPrimaryAction">Hozzáadás</button>
                <button type="button" id="resetBtn_<%= ModuleId %>" class="dnnPrimaryAction">Alaphelyzet</button>
                <button type="button" id="addToCartBtn_<%= ModuleId %>" class="dnnPrimaryAction">Kosárba</button>
            </div>

            <div id="figuraKeszitoUzenet_<%= ModuleId %>" class="figura-uzenet" style="display: none;">
            </div>

        </div>
    </div>


</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const moduleId = "<%= ModuleId %>";
        const maxKepekSzama = 5;

        let aktualisKategoria = "HajSapka";
        let aktualisIndexek = {
            HajSapka: 1,
            Fej: 1,
            FelsoTest: 1,
            Lab: 1,
            Eszkoz: 1
        };

        const kategoriaMap = {
            HajSapka: { path: "hairs", prefix: "hair", ext: "png" },
            Fej: { path: "heads", prefix: "head", ext: "png" },
            FelsoTest: { path: "torsos", prefix: "torso", ext: "jpg" },
            Lab: { path: "legs", prefix: "legs", ext: "png" },
            Eszkoz: { path: "accessories", prefix: "accessories", ext: "png" }
        };

        const buttons = document.querySelectorAll(".kategoria-gomb");
        buttons.forEach(button => {
            button.addEventListener("click", function () {
                aktualisKategoria = this.dataset.kategoria;
                aktualisIndexek[aktualisKategoria] = 1;
                frissitKep();
                megjelenitDiv(aktualisKategoria);
            });
        });

        document.getElementById(`balGomb_${moduleId}`).addEventListener("click", function () {
            if (aktualisIndexek[aktualisKategoria] > 1) {
                aktualisIndexek[aktualisKategoria]--;
                frissitKep();
            }
        });

        document.getElementById(`jobbGomb_${moduleId}`).addEventListener("click", function () {
            if (aktualisIndexek[aktualisKategoria] < maxKepekSzama) {
                aktualisIndexek[aktualisKategoria]++;
                frissitKep();
            }
        });

        document.getElementById(`resetBtn_${moduleId}`).addEventListener("click", function () {
            Object.keys(kategoriaMap).forEach(kategoria => {
                aktualisIndexek[kategoria] = 1;
                const info = kategoriaMap[kategoria];
                const alapSrc = `/Portals/0/Images/testreszek/${info.path}/${info.prefix}1.${info.ext}`;
                const targetImg = document.getElementById(`figuraKeszito${kategoria}_${moduleId}`);
                if (targetImg) {
                    targetImg.src = alapSrc;
                }
            });
        });


        function frissitKep() {
            const info = kategoriaMap[aktualisKategoria];
            const index = aktualisIndexek[aktualisKategoria];
            const img = document.getElementById(`elonezet${aktualisKategoria}_${moduleId}`);
            const path = `/Portals/0/Images/testreszek/${info.path}/${info.prefix}${index}.${info.ext}`;
            img.src = path;
            img.style.display = "block";
        }

        function megjelenitDiv(kategoria) {
            document.querySelectorAll(".figura-resz-div").forEach(div => {
                div.style.display = "none";
            });
            const div = document.getElementById(`elonezetDiv${kategoria}_${moduleId}`);
            if (div) div.style.display = "block";
        }

        document.getElementById(`addToPreviewBtn_${moduleId}`).addEventListener("click", function () {
            const info = kategoriaMap[aktualisKategoria];
            const index = aktualisIndexek[aktualisKategoria];
            const src = `/Portals/0/Images/testreszek/${info.path}/${info.prefix}${index}.${info.ext}`;

            // Bal oldali (kiválasztott) kép frissítése
            const targetImg = document.getElementById(`figuraKeszito${aktualisKategoria}_${moduleId}`);
            if (targetImg) {
                targetImg.src = src;
            }
        });

    });
</script>
